<h4>Write your review</h4>
<form class="pure-form" {{action "submitReview"}}>
  {{star-selection}}
  <fieldset class="pure-group">
    {{textarea type="text" class="pure-input-1" value=reviewContet}}
  </fieldset>
  <button type="submit"
          class="pure-button pure-button-primary">
    Submit
  </button>
</form>
