body
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif
  background: #F1F1F1

.home-head
  .pure-menu-heading
    font-weight: 500
    font-size: 120%
    color: white

  ul
    a
      font-weight: 200
      color: white
      cursor: pointer
    a:hover
      background-color: transparent


    float: right


  background: #ff7200
  padding: 0.5em


.content
  background: white
  width: 980px
  margin: 20px auto
