body
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif
  background: #F1F1F1

.home-head
  .pure-menu-heading
    font-weight: 500
    font-size: 120%
    color: white

  ul
    a
      font-weight: 200
      color: white
      cursor: pointer
    a:hover
      background-color: transparent
    a:focus
      background-color: transparent


    float: right


  background: #ff7200
  padding: 0.5em


.content
  background: white
  width: 984px
  margin: 20px auto
  padding: 30px 0

.restaurant-item
  h3
    margin: 10px 0
    overflow: hidden
    text-overflow: clip
    white-space: nowrap

  width: 288px
  height: 288px
  margin-left: 30px
  float: left

.rate-5
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -680px

.rate-4-5
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -700px

.rate-4
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -720px

.rate-3-5
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -740px

.rate-3
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -760px

.rate-2
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -780px

.rate-1
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -800px

.rate-0
  width: 100px
  height: 16px
  background: url('images/rate-stars.png') 0 -820px

.signup, .login
  width: 200px
  margin: 20px auto

.restaurant-show
  img
    float: left
  .restaurant-content
    margin-left: 300px

  margin: -10px 10px 30px

.reviews
  .review
    margin-bottom: 10px
  .review-author
    float: left
    width: 80px
    overflow: hidden
  .review-content
    margin-left: 100px
    padding: 0 10px
    border: 1px solid #e3e3e3
    border-radius: 5px
  margin: 10px


.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: "."
  height: 0
  clear: both
