@import "foundation-settings.scss";
@import "foundation";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-grid;
@include foundation-top-bar;

:focus {
  outline: 0;
  box-shadow: 0px 0px 5px 5px #cecece;
}

a:hover, a:focus {
  color: red;
  text-decoration: underline;
}

header {
  font-size: 1.8em;
}

main {
  margin-top: 1em;
}

.restaurants {
  li {
    list-style: none;
    color: #333;
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
    address, p {
      font-style: normal;
    }
  }
}

.restaurant-show {
  .content {
    font-size: 1.2em;
    address, p {
      font-style: normal;
      margin-bottom: 0.5em;
    }
  }
}
