@import "foundation-settings.scss";
@import "foundation";
@import "review-stars.scss";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-grid;
@include foundation-top-bar;
@include foundation-float-classes;
@include foundation-forms;
@include foundation-button;

:focus {
  outline: 0;
  box-shadow: 0px 0px 5px 5px #cecece;
}

[role=alert] {
  color: red;
}

a {
  color: #004f7c;
}

a:hover, a:focus {
  color: red;
  text-decoration: underline;
}

header.top-bar {
  h1 {
    font-size: 1.5em;
    margin: 0;
  }
  input {
    margin: 0;
  }
}


main {
  margin-top: 1em;
}

.restaurants {
  li {
    list-style: none;
    color: #333;
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
    address, p {
      font-style: normal;
    }
  }
}

.restaurant-show {
  .content {
    font-size: 1.2em;
    address, p {
      font-style: normal;
      margin-bottom: 0.5em;
    }
  }
}

.new-review {
  margin: 2em 0;
  .fail {
    color: red;
    input, textarea {
      border-color: red;
    }
  }
  .score {
    width: 10em;
    unicode-bidi: bidi-override;
    direction: rtl;
    label {
      display: inline-block;
      input {
        position: absolute;
        left: -999999px;
      }
    }

    label::before {
      font-size: 2em;
      font-family: FontAwesome;
      content: "\f006";
    }

    label:hover::before,
    label:hover ~ label::before,
    label.selected::before,
    label.selected ~ label:before {
      content: "\f005";
    }
  }
}

.review {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 1em;
  .info {
    background-color: #eee;
    margin-bottom: 0.5em;
    padding: 0.5em;
  }
  .content {
    padding: 0.5em;
    p {
      margin-top: 0.5em;
    }
  }
}
