.review-5 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -680px;
}

.review-4-5 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -700px;
}


.review-4 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -720px;
}


.review-3-5 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -740px;
}


.review-3 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -760px;
}


.review-2 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -780px;
}

.review-1 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -800px;
}

.review-0 {
  width: 100px;
  height: 16px;
  background: url('images/review-stars.png') 0 -820px;
}
