.review-stars img {
  width: 100px;
  height: 16px;
  object-fit: none;
}

.star-5 img {
  object-position: 0 -680px;
}

.star-4-5 img {
  object-position: 0 -700px;
}


.star-4 img {
  object-position: 0 -720px;
}


.star-3-5 img {
  object-position: 0 -740px;
}


.star-3 img {
  object-position: 0 -760px;
}


.star-2 img {
  object-position: 0 -780px;
}

.star-1 img {
  object-position: 0 -800px;
}

.star-0 img {
  object-position: 0 -820px;
}
