<nav class="pure-menu pure-menu-horizontal home-head">
  {{link-to 'Res-Rev' 'restaurants' class="pure-menu-heading"}}
  <ul class="pure-menu-list">
      <li class="pure-menu-item">
          <form class="pure-form">
              <input type="text" name="search" placeholder="search"/>
          </form>
      </li>
      <li class="pure-menu-item">
          <a class="pure-menu-link">LOG IN</a>
      </li>
      <li class="pure-menu-item">
          {{link-to 'SIGN UP' 'users.new' class="pure-menu-link"}}
      </li>
  </ul>
</nav>

<div class="content clearfix">
  {{outlet}}
</div>
