<nav>
  <h1>Res-Rev</h1>
  <input type="text" name="search" placeholder="search"/>
  <button type="button" name="signin">Signin</button>
  <button type="button" name="signup">Signup</button>
</nav>

{{outlet}}
